/* Set general body styles */
body {
    font-family: Nunito, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4ecd4;
    color: #444;
}
/* Header styles, sticky position, dark background, flexbox layout */
header {
    position: sticky;
    top: 0;
    background-color: #333;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Logo container, flexbox layout, and logo margin */
.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img {
    margin-right: 0.5rem;
    border-radius: 50%;
}
/* Logo text styles, white color, no margin, and bold font weight */
.logo-container h1 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    margin: 0;
}
/* Navigation styles, flexbox layout with row direction */
nav {
    display: flex;
    flex-direction: row;
}
/* Navigation link styles, margin, and spacing between links */
nav a {
    color: #a49cec;
    margin-left: 1rem;
}

nav a:first-child {
    margin-right: auto;
}

/* Gallery section styles, flexbox layout with wrap and centered content */
#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* Gallery figure styles, margin around figures */
#gallery figure {
    margin: 0.5rem;
}
/* Gallery image styles, max width 100% for responsiveness */
#gallery img {
    max-width: 100%;
}
/* Media query for smaller screens (up to 320px), adjusting gallery image width */
@media screen and (max-width: 320px) {
    .gallery-image {
        width: 80%;
    }
}
/* Navigation styles for larger screens, flexbox layout with row direction and justified content */
nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 0.5rem;
}
/* Navigation link styles for larger screens, margin between links */
nav a {
    margin-left: 0.5rem;
}

/* Footer styles, dark background, centered text, and padding */
footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
    font-size: 0.9rem;
}
/* Heading styles, text shadow, and margin */
h1,
h2 {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
}
/* Larger text section styles, increased font size */
section.larger-text {
    font-size: 1.2rem;
}
/* Larger text heading styles, increased font size */
section.larger-text h2 {
    font-size: 2.0rem;
}
/* Larger text paragraph styles, increased font size */
section.larger-text p {
    font-size: 2.0rem;
}
/* Larger text heading and paragraph color */
section.larger-text h2,
section.larger-text p {
    color: #070607;
}
/* Section styles, padding, max-width, and centering */
section {
    padding: 1rem 2rem;
    max-width: 600px;
    margin: 0 auto;
}
/* Container styles, maximum width, and auto margins for centering */
.container {
    max-width: 800px;
    margin: 0 auto;
}
/* Footer styles, flexbox layout with justify-content and align-items, padding */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
/* Footer link styles, margin around links */
footer a {
    margin: 0 1rem;
}
/* Footer icon styles, increased font size and white color */
footer i {
    font-size: 1.2rem;
    color: #fff;
}
/* Contact section styles, border, box shadow, padding, margins, and increased font size */
#contact {
    border-top: 4px solid #333;
    box-shadow: 0 3px rgb(0, 0, 0, 0.1);
    padding: 10px;
    margin-top: 100px;
    margin-left: -2px;
    font-size: 1.2rem;
    

}
/* Class darker-text, span, color dark and font-size */
.darker-text {
    color: #222;
    font-size: 1.3em; 
}